<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<div class="main">
  <span class="bg-white"></span>
  <span class="bg-green"></span>
  <table class="price-table">
    <thead>
      <tr>
        <td class="min" colspan="3"></td>
        <td class="min"></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="white-left">&nbsp;</td>
        <td>Basic</td>
        <td>Pro</td>
        <td class="green-width">Premium</td>
      </tr>
      <tr>
        <td>Car Wash</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>yes</td>
      </tr>
      <tr>
        <td>Polish</td>
        <td>No</td>
        <td>yes</td>
        <td>yes</td>
      </tr>
      <tr>
        <td>Home Service</td>
        <td>No</td>
        <td>No</td>
        <td>yes</td>
      </tr>
      <tr>
        <td>Services</td>
        <td>1</td>
        <td>2</td>
        <td>4</td>
      </tr>
      
      <tr>
        <td>&nbsp;</td>
        <td class="price">Rs 600/month</td>
        <td class="price">Rs 1200/month</td>
        <td>Rs 3000/month</td>
      </tr>
    </tbody>
  </table>
</div>