<div class="lx-bg">
    <div class="card-box">
      <div class="lx-menu" style="background: #009E60;">
        <div class="lx-card-header">
          <!-- <img class="lx-img" src="https://i.ibb.co/BfMrw4G/fs.png" alt="fs.png" /> -->
          <div class="lx-menu-text">
             <div class="lx-menu-cat">Car Wash</div>
            <p class="lx-menu-title">Rs 1500</p>
          </div>
         
        </div>
        <div class="lx-card-body">
          
          </div>
      </div>
      
      <div class="lx-menu" style="background: #009E60;">
        <div class="lx-card-header">
          <!-- <img class="lx-img" src="https://img.pngio.com/learnnow-transformational-leadership-atd-leadership-png-720_405.png" alt="learnnow-transformational-leadership-atd-leadership-png-720_405.png" alt="fs.png" /> -->
          <div class="lx-menu-text">
             <div class="lx-menu-cat">Wheel Care</div>
            <p class="lx-menu-title">Rs 1800</p>
          </div>
         
        </div>
        <div class="lx-card-body">
          
          </div>
      </div>
      
      <div class="lx-menu" style="background: #009E60;">
        <div class="lx-card-header">
          <!-- <img class="lx-img" src="https://png2.cleanpng.com/sh/08ec1a69fde7a19ea40e7490370bc2e3/L0KzQYq3UsA6N5Jwj5H0aYP2gLBuTfVueJ10kdduLXXxd7Luhf1mdqUygOd2YX6wgrb6jCVza5YyhdN3YXfofbb1lL1wephmReZuYX2wcsbwjPRqdpgyi9t3Z3Hzf8PsTgNqdphmiNH7ZT33f8G0lPVidV5njds2NXO4dYnrUsY1OZM6S6g3OEKzRYiAVsQyPWUAT6I5M0mzQoeCUr5xdpg=/kisspng-employee-engagement-human-resource-management-orga-team-building-singapore-singapore-top-team-bui-5c5e8d2641b536.8205776415497003902692.png" alt="fs.png" /> -->
          <div class="lx-menu-text">
             <div class="lx-menu-cat">Car AC repair</div>
            <p class="lx-menu-title">Variable</p>
          </div>
         
        </div>
        <div class="lx-card-body">
          
          </div>
      </div>
      
      <div class="lx-menu" style="background: #009E60;">
        <div class="lx-card-header">
          <!-- <img class="lx-img" src="https://i.ibb.co/yPqSq1v/ind.png" alt="fs.png" /> -->
          <div class="lx-menu-text">
             <div class="lx-menu-cat">Car Battery</div>
            <p class="lx-menu-title">Variable</p>
          </div>
         
        </div>
        <div class="lx-card-body">
          
          </div>
      </div>
      
      <div class="lx-menu" style="background: #009E60;">
        <div class="lx-card-header">
          <!-- <img class="lx-img" src="https://cdn5.dcbstatic.com/files/e/p/epflearning_docebosaas_com/userfiles/13045/digital.png" alt="fs.png" /> -->
          <div class="lx-menu-text">
             <div class="lx-menu-cat">Denting and Painting</div>
            <p class="lx-menu-title">Rs 5000</p>
          </div>
         
        </div>
        <div class="lx-card-body">
          
          </div>
      </div>
      
      <div class="lx-menu" style="background: #009E60;">
        <div class="lx-card-header">
          <!-- <img class="lx-img" src="https://i.ibb.co/WWZYnRv/ss.png" alt="fs.png" /> -->
          <div class="lx-menu-text">
             <div class="lx-menu-cat">Custom Repair</div>
            <p class="lx-menu-title">Variable</p>
          </div>
         
        </div>
        <div class="lx-card-body">
          
          </div>
      </div>
      
      <div class="lx-menu" style="background: #009E60;">
        <div class="lx-card-header">
          <!-- <img class="lx-img" src="https://i.ibb.co/BfMrw4G/fs.png" alt="fs.png" /> -->
          <div class="lx-menu-text">
             <div class="lx-menu-cat">Periodic Service</div>
            <p class="lx-menu-title">Rs 6000(4 services)</p>
          </div>
         
        </div>
        <div class="lx-card-body">
          
          </div>
      </div>
      
      <div class="lx-menu" style="background: #009E60;">
        <div class="lx-card-header">
          <!-- <img class="lx-img" src="https://img.pngio.com/learnnow-transformational-leadership-atd-leadership-png-720_405.png" alt="learnnow-transformational-leadership-atd-leadership-png-720_405.png" alt="fs.png" /> -->
          <div class="lx-menu-text">
             <div class="lx-menu-cat">Speaker care</div>
            <p class="lx-menu-title">Rs 2000</p>
          </div>
         
        </div>
        <div class="lx-card-body">
          
          </div>
      </div>
      
    </div>
  </div>